apiVersion: batch/v1
kind: Job
metadata:
  name: selenium-test-runner
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: test-runner
          image: selenium-test-runner:latest
